body {
    background-color: #ffffff;
}

@font-face {
    font-family: Mark-Bold;
    src: url('./Mark-Bold.ttf');
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Mark-Bold;
    text-align: center;
    color: #E60012;
}

.centerImg {
    display: block;
    margin: auto;
    width: 50%;
}